.wrapper
  .login
    .login__field
      .center
        = render 'devise/sessions/testuser'
    = form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .login__title
        新規登録
      = render "users/form", f: f
      .login__field
        .center
          = f.submit "ログインする", class: "btn btn-success"

  :javascript
    $(function(){
      $fileField = $('#file')

      // 選択された画像を取得し表示
      $($fileField).on('change', $fileField, function(e) {
        file = e.target.files[0]
        reader = new FileReader(),
        $preview = $("#img_field");
    
        reader.onload = (function(file) {
          return function(e) {
            $preview.empty();
            $preview.append($('<img>').attr({
              src: e.target.result,
              class: "avatar",
              title: file.name
            }));
          };
        })(file);
        reader.readAsDataURL(file);
      });
    });
  