%div{id: "comment_#{comment.id}"}
  = link_to comment.user.nickname, user_path(comment.user_id)
  = comment.content
  = comment.updated_at.strftime("%Y-%m-%d %H:%M")
.list-inline-item
  - if user_signed_in? && comment.user_id == current_user.id || current_user.admin?
    = link_to edit_tweet_comment_path(@tweet.id, comment),remote: true do
      %input{type: "submit", value: "編集"}
    = link_to tweet_comment_path(@tweet, comment.id), method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' } do
      %input{type: "submit", value: "削除"}