- if user_signed_in?
  = form_with(model: [@tweet, @comment], class: "tweet-show__comment__form") do |form| 
    .tweet-show__comment__form__top
      = image_tag "#{current_user.avatar}", class: "avatar"
      .tweet-show__comment__form--title
        コメントする
    = form.text_area :content, class: 'textarea tweet-show__comment__form--body'
    .tweet-show__comment__form--submit
      = form.submit value: "投稿する", class: "btn btn-success"
- else
  .tweet-show__comment__form--text
    コメントの投稿にはログインが必要です。