.new__main
  .new__main--form
    = form_with(model: @tweet,  local: true) do |f|
      = f.text_field :title
      = f.text_area :text
      = f.label :image do
        = f.file_field :image
      = f.submit '投稿する'