.wrapper
  -# = form_with model: @tweet, local: true do |f|
  = form_with(model: @tweet, local: true) do |f|
    .tweet-form
      .tweet-form__title
        = f.text_field :title, class: "tweet-form__title--body", placeholder: "タイトルを入力して下さい(30文字以内)"
      .tweet-form__text
        = f.label "内容", for: "md-textarea"
        = f.text_area :text, class: "tweet-form__text--body materialize-textarea", placeholder: "本文を入力して下さい", id: "md-textarea"
      .tweet-form--tags
        タグを追加
      %div
        %ul#tweet-tags
        -# = f.label :tag_list, "タグを追加"
        -# = f.text_field :tag_list, value: @tweet.tag_list.join(','), class: "tweet-form__bonus__tags", placeholder: "1つのタグは10文字まで"
      .tweet-form__bonus__preview--title
        イメージ写真
      .tweet-form__bonus__preview
        .field.image
        // id "file"で、fileとdivを紐付けクリック時に連動
        #img_field{:onclick => "$('#file').click()"}
          // 画像があるときは画像を表示する
          - if @tweet.image.present?
            = image_tag "#{@tweet.image.url}", class: "tweet-form__bonus__preview--image"
            -# = image_tag(@tweet.image.url)
          - else
            %i.fas.fa-camera.fa-6x.tweet-form__bonus__preview--icon
        // id "file"をつけ、「display:none;」で隠す
        = f.file_field :image, class: "image", style: "display:none;", id: "file"
      .tweet-form__submit
        = f.submit '投稿する', class: "btn btn-success"

