.main
  = link_to "いいねランキング", likes_tweets_path
  .tag_search
    タグ検索
    %input{type: "text", id: "tag"}
    %input{type: "submit", class: 'tag-submit'}
  = link_to "タグリスト", taglist_tweets_path

  .tweets
    = form_with(url: tweets_searches_path, local: true, method: :get) do |f|
      = f.text_field :keyword, placeholder: 'タイトルを検索する'
      = f.submit
    .tweets__list
      = render '/tweets/tweet'
-# tag_search_tweets GET    /tweets/tag_search(.:format)  tweets#tag_search