.main
  = link_to "いいねランキング", likes_tweets_path
  = link_to 'ログイン', new_user_session_path, class: 'header__top__userMenu--logout'
  -# = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header__top__userMenu--logout'
  = link_to "ユーザー一覧 ", users_path, class: 'header__top--title'
  -# = link_to "メッセージ", rooms_path
  = link_to "投稿する（表示よくない", new_tweet_path, class: "header__menu--new"
  - if user_signed_in?
    -# = link_to 'ユーザー編集', edit_user_path(current_user.id)
  - else
    = link_to '新規登録', new_user_registration_path, class: 'header__top__userMenu--logout'
    = link_to 'ログイン', new_user_session_path, class: 'header__top__userMenu--logout'
  .tag_search
    タグ検索
    %input{type: "text", id: "tag"}
    %input{type: "submit", class: 'tag-submit'}
  = link_to "タグリスト", tags_tweets_path
  .tweets__list
    = render '/tweets/tweet'
    -# = render @tweets
    -# = paginate(@tweets)