.wrapper
  .tweet-show
    .tweet-show__title
      .tweet-show__title__top
        = link_to  user_path(@tweet.user.id), class: "tweet-show__title__top__user" do
          = image_tag "#{@tweet.user.avatar}", class: "avatar"
          = @tweet.user.nickname
        .tweet-show__title__top--edit
          - if current_user_has?(@tweet)
            = link_to '編集', edit_tweet_path(@tweet.id)
            = link_to '削除', tweet_path(@tweet.id), method: :delete, data: { confirm: '削除してよろしいですか？' }
      %h1.tweet-show__title--body
        = @tweet.title
      .tweet-show__title--date
        = @tweet.updated_at.strftime("%Y-%m-%d %H:%M")
    .tweet-show__content
      .tweet-show__content--text
        %span
          = markdown(@tweet.text)
          - if @tweet.image?
            .tweet-show__content--imageBox
              = image_tag "#{@tweet.image}", class: "tweet-show__content--image"
      .tweet-show__content--tags
        = render '/tweets/tag_list', tag_list: @tweet.tag_list
      .tweet-show__content__user
        = link_to  user_path(@tweet.user.id), class: "tweet-show__content__user--top" do
          .display-flex
            = image_tag "#{@tweet.user.avatar}", class: "tweet-show__content__user--avatar"
            .tweet-show__content__user--names
              %strong
                = @tweet.user.nickname
          .tweet-show__content__user--follow
            = render "relationships/follow"
      .tweet-show__content__donation
        #donation_area
          = render "donations/donation"
      .tweet-show__content__like
        %div{id: "like_#{@tweet.id}"}
          = render 'likes/like', tweet: @tweet
        .tweet-show__content__like--link
          - if @tweet.liked_users.present?
            この記事にいいねした人を見る
    .tweet-show__comment
      #comment_form
        = render "comments/form"
      #comment_area
        = render "comments/top"

.tweet-show__content__like--bgc
  .jc-center
    %ul.tweet-show__content__like__modal
      - @tweet.liked_users.each do |user|
        %li
          = link_to  user_path(user.id), class: "tweet-show__content__like--user" do
            = image_tag "#{user.avatar}", class: "avatar"
            .tweet-show__content__like--user--name
              = user.nickname
              さん
      .tweet-show__content__like--close
        %i.btn.btn-dark
          閉じる

.donation
  .jc-center
    .donation-modal
      .donation-modal--header
        %strong
          = @tweet.user.nickname
        さんに寄付をする
      #donation_form
        = render "donations/form"
      .donation-modal--close
        %i.btn.btn-dark
          閉じる