.wrapper
  .login
    .login__field
      .center
        = render 'devise/sessions/testuser'
    = form_with model: @user, url: user_session_path, local: true do |f|
      .login__title
        ログイン
      .login__field
        .text-center
          = f.label :email 
        .center
          = f.email_field :email, autofocus: true, class: "login--input"
      .login__field
        .text-center
          = f.label :password
        .center
          = f.password_field :password, autocomplete: "off", class: "login--input"
      .login__field
        .center
          = f.submit "ログインする", class: "btn btn-success"
