.contents.row
  .container
    = render 'devise/sessions/testuser' 
    %h2 Log in
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.label :remember_me
          %br/
          = f.check_box :remember_me
      .actions
        = f.submit "Log in"
