.wrapper
  .room-show
    .room-show__title
      - @entries.each do |e|
        - if e.user.id != current_user.id
          = link_to user_path(e.user.id) do
            = image_tag "#{e.user.avatar}", class:"avatar"
            = e.user.nickname
            さんとのメッセージ
    .room-show__items
      - if @messages.present?
        - @messages.each do |m|
          %div.room-show__item{id: "message_#{m.id}"}
            -# 右側にくるように
            - if current_user.id == m.user.id
              .room-show__item__right
                = form_with(model: @message, url: message_path(m.id), class: "room-show__item__right--btn", remote: true, method: :delete, data: { confirm: '削除してよろしいですか？' }) do |f|
                  = f.hidden_field :room_id, value: @room.id
                  = f.submit "削除", class: "btn rounded-pill"
                %span.room-show__item--message
                  = m.message
              .room-show__item__right
                .room-show__item--date
                  = m.created_at.strftime("%Y-%m-%d %H:%M")
              -# 左側に来る処理
            - else
              .room-show__item__left
                = link_to user_path(m.user.avatar) do
                  = image_tag "#{m.user.avatar}", class:"avatar"
                %span.room-show__item--message
                  = m.message
              .room-show__item__left
                .room-show__item--date
                  = m.created_at.strftime("%Y-%m-%d %H:%M")