%h4.rooms-title 気になる同士
- @entries.each do |e|
  .user-name
    %strong
      -# = image_tag e.user.avatar, class:"user-image"
      %a.rooms-user-link{href: "/users/#{e.user.id}"}
        = e.user.nickname
        さん
%hr
.chats
  .chat__scroll
    -# ここだけスクロール許可 application.scssで
    - if @messages.present?
      - @messages.each do |m|
        %div{id: "message_#{m.id}"}
          - if m.user_id == current_user.id
            .chatbox
              .chat-face1
                -# = image_tag m.user.avatar, class:"user-image"
                .chat-hukidashi
                = m.user.nickname
                %br
                = m.message
                %br
                編集
                削除
          - else
            .chatbox
              .chat-face2
                -# = image_tag m.user.avatar, class:"user-image"
                .chat-hukidashi
                = m.user.nickname
                %br
                = m.message
                %br
                = m.created_at.strftime("%Y-%m-%d %H:%M")