.header
  .header-contents
    .header-top
      .header-top__left
        = link_to root_path do
          %h1.header-top__left--title My Note
      .header-top__right
        = form_with(url: tweets_searches_path, local: true, method: :get) do |f|
          = f.text_field :keyword, placeholder: 'タイトルを検索する', placeholder: "検索する", class: "header-top__right--search"
        .header-top__right__user
          - if user_signed_in?
            .header-top__right--bell
              = render 'layouts/circle'
            .header-top__right__user__info
              %label.header-top__right__user__info--link
                = image_tag "#{current_user.avatar}", class: "avatar"
                = current_user.nickname
                %ul.header-top__box
                  %li
                    = link_to "マイページを表示", user_path(current_user), class: "header-top__box--content"
                  %li.header-top__box--borderTop
                    = link_to "メッセージ", rooms_path, class: "header-top__box--content"
                  %li.header-top__box--borderTop
                    = link_to "タイムライン", timeline_user_path(current_user), class: "header-top__box--content"
                  %li.header-top__box--borderTop
                    = link_to "いいね！した投稿", likes_user_path(current_user), class: "header-top__box--content"
                  %li.header-top__box--borderTop
                    = link_to 'ユーザー編集', edit_user_path(current_user.id), class: "header-top__box--content"
                  %li.header-top__box--borderTop
                    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-top__box--content"
          - else
            = link_to new_user_session_path do
              %input.btn.btn-outline-secondary.header-top__right--box{type: "submit", value: "ログイン"}
            = link_to new_user_registration_path do
              %input.btn.btn-outline-secondary.header-top__right--box{type: "submit", value: "新規登録"}
    .header-bottom
      %ul.header-bottom__list
        - @tags = ["テクノロジー","経済","マンガ","ファッション","エンタメ","スポーツ","国際","コラム"]
        - @tags.each do |tag|
          %li.header-bottom__list__item
            = link_to tag, tweets_path(tag_name: tag), class: "header-bottom__list--name"
        %ul.header-bottom__list__tags
          = link_to "全てのタグ", tags_tweets_path, class: ".header-bottom__list--name"